html {
    background-color: black;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

img {
    width: 100%;
}
h1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: #ffd88e;
    font-family: 'Proza Libre', sans-serif;
}

h2 {
    color: red;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    transform: uppercase;
}

#main {
    background-color: white;
    padding: 0em 1em 1em;
    padding-top: 10px;
    text-indent: 30px;
}
#main h2 {
    text-align: center;
}
#footer {
    text-align: center;
    color: white;
    font-size: 0.85em;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#items {
    float:left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: white;
    background-color:black;
    text-align: center;
    padding: 4px;
    text-decoration:none;
    text-transform: uppercase;
}

a:hover, a:active {
    color:#ff5c5c;
}

#hyperlink {
    display: inline;
    font-weight:100;
    color:blue;
    background-color: white;
    padding:0px;
    text-decoration: underline;
    text-transform: none;
}
span {
    color: red;
    font-size: 1.15em;
    text-transform: uppercase;
}

table {
    width:100%;
    table-layout: fixed;
}

td {
    padding:50px;
    vertical-align: top;
}

iframe {
    border: 0;
    width: 50%;
    height: 350px;
}
#text_slide1 {
    position: absolute;
    left: 0px;
    opacity:0;
}
#slide-left { 
animation-duration: 4s; 
animation-name: slidein; 
} 

@keyframes slidein { 
from { 
margin-left: 100%; 
width: 300%; 
} 

to { 
margin-left: 0%; 
width: 100%; 
} 